// HoodieColors
$hoodie-blue:     #312783;
$hoodie-green:    #0B8E36;
$hoodie-yellow:   #F9B233;
$hoodie-orange:   #E94E1B;
$hoodie-brown:    #693C10;
$hoodie-red:      #BE1522;

// Other colors:
$hoodie-white:          #FFFFFF;
$hoodie-darkgrey:       #414040;
$hoodie-nearblack:      #282726;
$hoodie-mediumbrown:    #373435;
$hoodie-lightbeige:     #F8F5F3;

$hoodie-paleblue:       #DCE7EA;
$hoodie-palegreen:      #BFD4B4;
$hoodie-paleyellow:     #FAF1B0;
$hoodie-paleorange:     #F9D4A2;
$hoodie-palebrown:      #C5B09A;
$hoodie-palered:        #ECAC8B;
