// HoodieColors
$hoodieBlue:     #312783;
$hoodieGreen:    #0B8E36;
$hoodieYellow:   #F9B233;
$hoodieOrange:   #E94E1B;
$hoodieBrown:    #693C10;
$hoodieRed:      #BE1522;

// Other colors:
$white:          #FFFFFF;
$darkGrey:       #414040;
$nearBlack:      #282726;
$mediumBrown:    #373435;
$lightBeige:     #F8F5F3;

$paleBlue:       #DCE7EA;
$paleGreen:      #BFD4B4;
$paleYellow:     #FAF1B0;
$paleOrange:     #F9D4A2;
$paleBrown:      #C5B09A;
$paleRed:        #ECAC8B;

$pageBackground: $lightBeige;
