@import "../components/normalize-scss/_normalize.scss";

@import "fonts.scss"

* {
  box-sizing: border-box;
}

// Mixins

.clearfix{
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

// Colors

@import "colors.scss";

// Whitespace

$outsideMargin:  1rem;

// Dimensions

$swatchDiameter: 120px;

// Typography

body{
  font-family: 'bariol_regular';
  background: url(../assets/images/hoodie_fragment_right_orange.svg) no-repeat 100% 42%;
  background-color: $pageBackground;
  color: $nearBlack;
  font-size: 1.4rem;
  line-height: 1.25em;
  padding-bottom: 5em;
}

h1, h2, h3, h4, h5, h6{
  color: $nearBlack;
  font-family: 'bariol_bold';
  margin-left: $outsideMargin;
  display: inline-block;
  font-weight: normal;
  line-height: 1em;
  width: 100%;
  &:before{
    display: block;
    position: absolute;
    z-index: -1;
    padding: 0;
    margin-left: calc(-2rem - 1.6em);
    border-radius: 50%;
    margin-top: -0.6em;
    content: "";
    width: 2.25em;
    height: 2.25em;
    background-color: transparentize($paleBlue, 0.5);
  }
  &.plain:before{
    display: none;
  }
}

hr{
  border: none;
  border-bottom: 1px solid rgb(197, 176, 154);
  margin: 2rem;
}

h1{
  font-size: 2.25em;
}

h5, h6{
  text-transform: uppercase;
}

p{
  margin-left: $outsideMargin;
}

ul, ol{
  margin-left: 1em;
}

ul ul,
ol ul{
  list-style-type: disc;
}

b, strong{
  font-family: 'bariol_bold';
}

// Elements

header{
  //background: url(../assets/images/hoodie_logo_orange_no_inner_lines.svg) no-repeat;
  width: 100%;
  //background-size: 120%;
  //background-position: bottom center;
  //height: 10em;
  ul{
    background: $hoodieOrange;
    margin: 0;
    height: 3rem;
    li{
      line-height: 3rem;
      color: $lightBeige;
      text-transform: uppercase;
      display: inline;
      margin-right: 3em;
    }
  }
  .logo{
    width: 120%;
    margin-left: -10%;
    margin-top: -15%;
  }
}

section{
  &.row{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  @extend .clearfix;
  & > img{
    width: 100%;
    height: auto;
  }
  .half, .third{
    border: 10px solid $pageBackground;
    box-sizing: border-box;
    &:hover{
      border: 10px solid currentColor;
      cursor: pointer;
    }
    .image{
      overflow: hidden;
    }
  }
  .half{
    width: 50%;
    display: block;
    padding: 3rem;
  }
  .third{
    width: 33.3333%;
    display: block;
    padding: 3rem;
  }
  .image{
    padding: 0;
  }
  .paleOrange{
    background-color: rgba(249, 212, 162, 0.3);
    color: #E94E1B;
    h1, h2, h3, h4, h5, h6{
      margin-top: 0;
      color: #E94E1B;
    }
  }
  .paleBlue{
    //background-color: rgba(194, 224, 235, 0.4);
    //color: $hoodieBlue;
    h1, h2, h3, h4, h5, h6{
      margin-top: 0;
      //color: $hoodieBlue;
    }
  }
}

p{
  &.note{
    &:before{
      display: block;
      position: absolute;
      z-index: -1;
      padding: 0 1em;
      margin-left: -4em;
      border-radius: 1em;
      margin-top: -.4em;
      content: "";
      width: 5em;
      height: 2em;
      background-color: transparentize($paleYellow, 0.5);
    }
  }
}

a{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $nearBlack;
  &:before{
    display: block;
    position: absolute;
    z-index: -1;
    padding: 0 .5em;
    margin-left: -.5em;
    border-radius: 1em;
    margin-top: -.25em;
    content: "";
    width: 100%;
    height: 2em;
    background-color: transparentize($paleBlue, 0.5);
    transition: background .25s;
  }
  &:hover{
    &:before{
      background-color: $paleBlue;
    }
  }
}

.slash{
  position: relative;
  margin: 0 0.5em;
  &:before{
    display: block;
    position: absolute;
    z-index: -1;
    padding: 0 1em;
    margin-left: -1.3rem;
    border-radius: 1em;
    margin-top: -.2rem;
    content: "";
    width: 0.25em;
    height: 1.5em;
    background-color: transparentize($paleBlue, 0.5);
    transform: rotate(-70deg);
    top: 0;
    left: 0;
  }
}

.index{
  position: absolute;
  margin: 0 1em 0 0;
  text-align: center;
  width: 2em;
  display: inline-block;
  margin-left: calc(-2rem - 1.475em);
  /*
  &:before{
    display: block;
    position: absolute;
    z-index: -1;
    padding: 0;
    margin-left: -2rem;
    border-radius: 50%;
    margin-top: -1.5rem;
    content: "";
    width: 3em;
    height: 3em;
    background-color: transparentize($paleBlue, 0.5);
    top: 0;
    left: 0;
  }
  */
}

.fullWidthContainer{
  width: 100%;
  background-color: #FBFFFD;
}

.block{
  width: 56rem;
  margin: 0 0 0 10%;
  @extend .clearfix;
  aside{
    width: 30%;
    float: left;
    text-align: right;
    padding-right: 3rem;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-top: 1.5rem;
  }
  .content{
    width: 70%;
    float: right;
  }
  &.code{
    background-color: #FBFFFD;
    margin-bottom: 2rem;
    aside{
      h1, h2, h3, h4, h5, h6{
        color: #807E7B;
        font-size: 1em;
        margin: 0;
      }
      text-align: left;
      color: #807E7B;
    }
  }
}

.swatch{
  width: $swatchDiameter;
  height: $swatchDiameter;
  border-radius: 50%;
  display: inline-block;
  color: $white;
  font-size: 1.5rem;
  font-family: 'bariol_bold';
  line-height: $swatchDiameter;
  text-align: center;
  margin: .5em;
  &.darkText{
    color: $nearBlack;
  }
  &.darkBorder{
    color: $nearBlack;
    box-shadow: inset 0px 0px 0px 4px $nearBlack;
  }
  &.hoodieBlue{
    background-color: $hoodieBlue;
  }
  &.hoodieGreen{
    background-color: $hoodieGreen;
  }
  &.hoodieYellow{
    background-color: $hoodieYellow;
  }
  &.hoodieOrange{
    background-color: $hoodieOrange;
  }
  &.hoodieBrown{
    background-color: $hoodieBrown;
  }
  &.hoodieRed{
    background-color: $hoodieRed;
  }
  &.paleBlue{
    background-color: $paleBlue;
  }
  &.paleGreen{
    background-color: $paleGreen;
  }
  &.paleYellow{
    background-color: $paleYellow;
  }
  &.paleOrange{
    background-color: $paleOrange;
  }
  &.paleBrown{
    background-color: $paleBrown;
  }
  &.paleRed{
    background-color: $paleRed;
  }
  &.white{
    background-color: $white;
  }
  &.darkGrey{
    background-color: $darkGrey;
  }
  &.nearBlack{
    background-color: $nearBlack;
  }
  &.mediumBrown{
    background-color: $mediumBrown;
  }
  &.lightBeige{
    background-color: $lightBeige;
  }
}



// Prism highlighting

$strongLightBlue: #66AFE9;
$lightGreen:      #1ABC9C;
$darkGreen:       #149B80;
$red:             #F22D23;
$yellow:          #F9B233;

pre[class*="language-"] {
  padding: 1em 1em .75em 1em;
  border: none;
  background: #FBFFFD;
  margin: .5em 0;
  border-radius: .5em;
  font-size: 1rem;
  overflow: auto;
  code{
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: break-word;
  }
  .string,
  .attr-name{
    color: $lightGreen;
  }
  .keyword,
  .attr-value{
    color: $strongLightBlue;
  }
  .boolean,
  .number,
  .tag{
    color: $darkGreen;
  }
  & + p{
    margin-top: 1em;
  }
}
